/* Terminal stilleri */
#terminal {
  width: 100%;
  height: 100vh; /* Tam ekran terminal */
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden; /* Scrollbar'ları gizle */
}

body {
  margin: 0;
  overflow: hidden;
}

/* Terminaldeki yazıların görünürlüğü */
.xterm-cursor {
  visibility: hidden;
}

/* Textarea'yı tamamen gizle */
.xterm-helper-textarea {
  display: none !important;
}

/* Başlangıç mesajı için stil */
.initial-message {
  margin-bottom: 10px;
}

/* Prompt için stil */
.prompt {
  color: #00ff00; /* Yeşil renk */
}
