# Github code owners for this project. They will be automatically
# requested to review pull requests unless a later match is found.
# code changes will send PR to following users
* @gamestime102 @gamestime102-tv

Current maintainer/core developers:
    gamestime102       <************@**********.*-*>
    gamestime102tv     <**************@**********.*-*>

Past core developers:
    gamestime102       <************@**********.*-*>
    gamestime102tv     <**************@**********.*-*>

Contributors:
    gamestime102       <************@**********.*-*>
    gamestime102tv     <**************@**********.*-*>
