body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#searchBox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.book-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.add-book-form {
    margin-top: 40px;
}

.add-book-form input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
}

.add-book-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.add-book-form button:hover {
    background-color: #45a049;
}
