@model LibraryAutomation.Models.User

<h2>Yeni Kullanıcı Ekle</h2>

<form method="post">
    <label>Adı:</label>
    <input type="text" name="Name" required />

    <label>Email:</label>
    <input type="email" name="Email" required />

    <button type="submit">Kaydet</button>
</form>
