@model IEnumerable<LibraryAutomation.Models.User>

<h2>Kullanıcı Listesi</h2>

<a href="@Url.Action("Create", "User")">Yeni Kullanıcı Ekle</a>

<table>
    <thead>
        <tr>
            <th>Adı</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
        </tr>
    }
    </tbody>
</table>
